* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
    overflow-x: hidden;
}

/* html {
    width: 1920px;
} */

body {
    background-color: #6c76ad;
    width: 1920px;
}

/* header part start */
.header {
    display: flex;
    height: 80px;
    background: #FFFFFF;
    /* overflow-x: hidden; */
}

.left-side {
    display: flex;
    /* justify-content:; */
    align-items: center;
    gap: 161px;
    flex: 1;
}

.left-side>div {
    height: fit-content;
}

.left-side>img {
    margin: 16px 0 16px 50px;
}

.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
}

.nav-list>li {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #272727;
}

.right-side {
    display: flex;
    gap: 60px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 27px;
    flex: 1;
}


.search-icon {
    position: relative;
}

.search-icon>input {
    width: 534px;
    height: 52px;
    border: none;
    background: #F0F0F0;
    border-radius: 8px;
}

.search-icon>img {
    width: 30px;
    /* height: 22.47px; */
    position: absolute;
    right: 3px;
    bottom: 3px;
    padding: 14px 14px 14px 0;
}

::placeholder {
    color: red;
    padding-left: 36px;
}

.name-icon {
    display: flex;
    gap: 35px;
    align-items: center;
}

.name-icon>div {
    display: flex;
    gap: 14px;
    align-items: center;
}

/* -----header part end------
------------------------------- */


/* invite section start */
.invite-now {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 1920px;
    height: 51px;
    background: #F9FAFF;

}

.invite-now>p {
    flex: 1;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #272727;
}

.invite-now>p>span {
    font-weight: 400;
    color: #00398F;
    font-size: 18px;
    margin-left: 15px;
}

.invite-now>img {
    padding-right: 50px;
}

/* invite section end---
----------------------------- */

/* slideshow-container start */

.slideshow-container {
    width: 1920px;
    overflow-x: hidden;
}

.slideshow {
    display: flex;
    position: relative;
}

.slideshow>div {
    position: absolute;
    right: 196px;
    top: 361px;
}

.slideshow>div>p {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #565656;
}

.slideshow>div>a {
    display: block;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #272727;
    font-weight: 400;
}

.slideshow .vector {
    position: absolute;
    right: 0;
    top: 212px;
    right: 180px;
    width: 533px;
    height: 83px;
    color: #272727;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #002482;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* @keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */

/* slideshow-container end */